@tailwind base;
@tailwind components;
@tailwind utilities;

:root {
  --shoppy-background: #f7fafc;
  --shoppy-black-color: #000000;
}

body {
  margin: 0;
  background-color: var(--shoppy-background);
  color: var(--shoppy-black-color);
}

.flex-40 {
  flex: 0 0 40%;
}
