@tailwind base;
@tailwind components;
@tailwind utilities;

:root {
  --shoppy-background: #f7fafc;
  --shoppy-black-color: #000000;
}

body {
  margin: 0;
  background-color: var(--shoppy-background);
  color: var(--shoppy-black-color) !important;
}

.flex-40 {
  flex: 0 0 40%;
}

.w-49 {
  width: 48%;
}

.custom-loader {
  width: 25px;
  height: 12px;
  background: radial-gradient(circle closest-side, #ffffff 90%, #0000) 0% 50%,
    radial-gradient(circle closest-side, #ffffff 90%, #0000) 50% 50%,
    radial-gradient(circle closest-side, #ffffff 90%, #0000) 100% 50%;
  background-size: calc(100% / 3) 6px;
  background-repeat: no-repeat;
  animation: d3 1s infinite linear;
}
@keyframes d3 {
  20% {
    background-position: 0% 0%, 50% 50%, 100% 50%;
  }
  40% {
    background-position: 0% 100%, 50% 0%, 100% 50%;
  }
  60% {
    background-position: 0% 50%, 50% 100%, 100% 0%;
  }
  80% {
    background-position: 0% 50%, 50% 50%, 100% 100%;
  }
}
